* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f4f4f9; /* Background remains light */
}

header {
    background-color: #800000; /* Maroon */
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: flex;
    align-items: center
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 100px;
}

.main {
    flex-grow: 1;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for four items */
    gap: 30px;
    padding: 40px;
    justify-items: center;
}

.menu-item {
    width: 300px;
    height: 150px;
    background-color: #800000; /* Maroon */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.menu-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.menu-item h2 {
    font-size: 1.2rem;
}

footer {
    background-color: #800000; /* Maroon */
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
